
 <input type="file" id="<%= id %>" style="display: none;" name="<%= name %>" />
 <div class="row">
     <div class="col-xs-12 col-md-12">
        <% if(file) { %>
            <div  id="<%= id %>_thumbnail"  style="margin-bottom: 10px;">
              <img src="<%= file %>" alt="..." id="<%= id %>_logo" />
            </div>
        <% } else {%>
            <div  id="<%= id %>_thumbnail"  style="overflow:hidden;margin-bottom: 10px;">
              <img style="min-height: <%= height %>;min-width: <%= width %>" src="http://placehold.it/<%= height %>&text=VOTRE+IMAGE" alt="..." id="<%= id %>_logo"  />
            </div>
        <% } %>
     </div>
 </div>
 <div id="<%= id %>_filelist">Your browser doesn't have Flash, Silverlight or HTML5 support.</div>
<br />
<p id="<%= id %>_container">
    <a class="btn btn-primary" id="<%= id %>_btn-add" ><i class="fa fa-plus"></i>Choissisez une image</a>
    <a class="btn btn-info" id="<%= id %>_btn-crop" ><i class="fa fa-crop"></i>Cropper</a>
    <a class="btn btn-success" id="<%= id %>_btn-upload" ><i class="fa fa-upload"></i>Upload</a>
</p>
<div class="form-group" id="<%= id %>_help">
    <span class="help-block"></span>
</div>
<div class="modal fade" id="<%= id %>_modal">
<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-xs-12" id="imgarea-parent" >
                <img class="img-responsive" id="<%= id %>_preview" data-id="<%= id %>" />
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Valider</button>
      </div>
    </div>
</div>
</div><!-- /.modal -->
<input type="hidden" id="<%= id %>_x1" name="x1" />
<input type="hidden" id="<%= id %>_y1" name="y1" />
<input type="hidden" id="<%= id %>_x2" name="x2" />
<input type="hidden" id="<%= id %>_y2" name="y2" />
<input type="hidden" id="<%= id %>_w" name="w" />
<input type="hidden" id="<%= id %>_h" name="h" />